.navbar{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20 );
}

.hero{
    padding: 5.6vw;
    min-height: 80vh;
    max-height: 622px;
    background-image: url(../images/heroImage.png);
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    margin: 0 10px;
}
.hero__text{
    text-align: start;
    margin-top: 232px;
}
.hero__text__title{
    font-size: 2.62em;
    color: #fff;
    font-weight: bold;
}
.hero__text__desciption{
    font-size: 2.31em;
    color: #fff;
}


.servicos{
    margin-top: 18px;
}
.cardProduto{
    position: relative;
    isolation: isolate;
    width: 100%;
    height: 119px;
    background-color: #009197;
    border-radius: 8px;
    margin: 0 auto 70px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
}
.cardProduto__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
    opacity: 20%;
    border-radius: inherit;
    transition: transform 250ms ease;
}
.cardProduto:hover .cardProduto__img{
    transform: translateY(-75px) scale(.75);
    opacity: 100%;
    transition: .5s ease;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20 );
}
.cardProduto__body{
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
}
.cardProduto__title{
    font-size: .87em;
}
.cardProduto__desciption{
    font-size: 1.14em;
    font-weight: bolder;
    margin: 0;
}
.cardProduto__button{
    display: inline-block;
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: .87em;
    background-color: #fff;
    font-weight: bold;
    color: #009197;
}
.cardProduto__button:hover{
    background-color: #C4C4C4;
    color: #161616;
}



#aboutUs{
    margin: 50px 0 0px;
    padding-top: 100px;
}
.sobre-nos__text__logo{
    width: 400px;
    text-align: start;
}
.sobre-nos__text__description{
    text-align: justify;
    padding:0 8px;
    margin-top: 24px;
    color: #a3a3a3;
}
.sobre-nos__image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.20);
}


.info{
    background-color: #009197;
    height: 500px;
    z-index: -2;
    margin-top: -80px;
}
.info__list{
    padding-top: 165px;
    color: #fff;
}
.info__list__content{
    margin-bottom: 70px;
}
.info__list__item__title{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}
.info__list__item__description{
    margin: 0;
    font-size: 14px;
}

#subscription{
    color: #009197;
    padding: 40px 0;
}
.subscription__title{
    font-weight: bolder;
    margin: 0;
}
.subscription__description{
    font-size: 1.2em;
    margin: 24px 0;
    color: #a3a3a3;
}



#consorcios{
    background-color: #EEEE;
}
.consorcios__content{
    padding: 100px 0;
}
.consorcios__content__title{
    margin-bottom: 60px;
    font-weight: bolder;
    color: #009197;
    text-transform: uppercase;
}
.consorcios__products__item{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10 );
}
.consorcios__products__item >.col{
    padding-left: 40px;
}

.consorcios__products__item__title{
    font-size: 2em;
    padding-top: 30px;
    margin-bottom: 30px;
}
.consorcios__products__item__description{
    font-size: 1.3em;
}
.consorcios__products__item__btn{
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}
.consorcios__products__item__btn__primary a{
    text-decoration: none;
    color: #fff;
}
.consorcios__products__item__btn__primary{
    background-color: #009197;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    margin-right: 24px;
}
.consorcios__products__item__btn__primary:hover{
    background-color: #006c70;
}
.consorcios__products__item__btn__secundary a{
    text-decoration: none;
    color: #009197;
    
}
.consorcios__products__item__btn__secundary{
    border: 4px solid #009197;
    border-radius: 10px;
    font-weight: bold;
    padding: 4px;
}
.consorcios__products__item__btn__secundary:hover{
    border-color: #00787c;
}
.consorcios__products__item__img{
    padding: 0;
    width: 100%;
    text-align: end;
}
.consorcios__products__item__img img{
    border-radius: 0 10px 10px 0;
}
.consorcios__products--margin{
    margin-top: 40px;
}

.whatsapp__button{
    display: block;
    position: fixed;
    bottom: 30px;
    right: 0;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.whatsapp__button__bg{
    background-color: #fff;
    width: 65px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10 );
    transition: ease;
}
.whatsapp__button__img{
    max-width: 50px;
    width: 100%;
    margin-top: 5px;
    transition: transform 250ms ease;
}
.whatsapp__button__img:hover{
    transform: rotateZ(10deg) scale(1.1);
}


footer{
    background-color: #009197;
    padding: 20px 0;
}
.brand__description{
    color: #fff;
    font-size: 18px;
}
.brand__informations{
    color: #fff;
    margin: 30px 0;
    padding: 0;
}
.informations__socialmedia{
    align-items: center;
    justify-content: center;
}
.social__media{
    text-align: center;
    justify-content: center;
    font-size: 1.8em;
    align-content: center;
    padding: 0;
}
.social__media a{
    color: #fff;
    text-decoration: none;
}
.social__media a:hover{
    color: #C4C4C4;
}
.copy{
    color: #fff;
}
.copy a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 767px){
    .hero{
        padding: 5.6vw;
        min-height: 30vh;
        max-height: 250px;
        margin-top: 60px;
    }    
    .hero__text{
        margin-top: 40px;
    }
    .hero__text__title{
        font-size: 24px;
        margin-bottom: 0;
    }
    .hero__text__desciption{
        font-size: 16px;
        margin-bottom: 32px;
    }
    .cardProduto{
        margin: 0 auto 30px;
    }
    .cardProduto:hover .cardProduto__img{
        transform: none;
        opacity: 20%;
    }
    .sobre-nos__text__logo{
        width: 350px;
    }


    .info{
        background-color: #009197;
        height: 750px;
    }
    .info__list{
        padding-top: 130px;
    }
    .info__list__content{
        display: block;
        margin-bottom: 0;
    }
    .info__list__item__title{
        font-size: 2em;
    }
    .info__list__item__description{
        margin-bottom: 40px;
        font-size: 14px;
    }

    .consorcios__products__item >.col{
        padding: 0;
    }
    .consorcios__products__item{
        display: block;
    }
    .consorcios__products__item__btn{
        display: block;
        margin: 0;
        width: 100%;
    }
    .consorcios__products__item__btn__primary{
        margin-bottom: 20px;
    }
    .consorcios__products__item__img{
        justify-content: center;
    }
    .consorcios__products__item__img img{
        width: 100%;
        margin-top: 10px;
        border-radius: 0 0 10px 10px;
    }

    .social__media{
        margin: 0 20px;
    }

    footer{
        padding-bottom: 80px;
    }


}



@media screen and (min-width: 767px) and (max-width: 1022px){
    .hero{
        padding: 5.6vw;
        min-height: 100%;
        max-height: 622px;
    }

        
    .hero__text{
        text-align: start;
        margin-top: 200px;
    }

    .hero__text__title{
        font-size: 2em;
        margin-top: -90px;
        color: #fff;
        font-weight: bold;
    }
    .hero__text__desciption{
        font-size: 29px;
        margin-bottom: 80px;
    }

    .cardProduto{
        margin: 0 auto 30px;
    }
    .cardProduto:hover .cardProduto__img{
        transform: none;
        opacity: 20%;
    }


    .sobre-nos{
        display: block;
    }
    .info__list__item__title{
        font-size: 2.5em;
    }



    .consorcios__products__item >.col{
        padding: 0;
    }
    .consorcios__products__item{
        display: block;
    }
    .consorcios__products__item__btn{
        display: block;
        margin: 0;
        width: 100%;
    }
    .consorcios__products__item__btn__primary{
        margin-bottom: 20px;
    }
    .consorcios__products__item__img{
        justify-content: center;
    }
    .consorcios__products__item__img img{
        width: 100%;
        margin-top: 20px;
        border-radius: 0 0 10px 10px;
    }

    .brand__informations{
        margin-right: 30px;
    }

}